$bg_color: #535353;

$color_1: #5BCAD2;
$color_2: #FFFFFF;
$color_3: #B8B8B8;
$color_4: #EFEFEF;
$color_5: #dbdbdb;
$color_6: #d8d8d8;
$color_7: #707070;
$color_8: #ec3c3c;

$check_1: #d2d2d2;
$check_2: #f3f3f3;
$check_3: #ffffff;
$check_4: #e1e1e1;

$check_5: #ff8383;
$check_6: #f13a3a;
$check_7: #971818;

$check_8: #8af7ff;
$check_9: #5BCAD2;
$check_10: #187a81;